.footer {
    background-color: #000;
    color: #fff;
    padding: 0 1rem;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    padding: 3.0rem 0;
}

.footer .logo--studion {
    justify-items: start;
    margin: 0;
    text-align: center;
}

.logo--studion__subtitle {
    display: block;
}

.footer__form {
    display: grid;
    grid-template-columns: 13ch auto;
}

.footer__form label {
    font-size: 0.950rem;
    font-weight: 300;
    text-align: center;
}

.footer__form fieldset {
    display: grid;
    grid-template-columns: auto 3.0rem;
    border: unset;
    margin: 0;
    padding: 0;
    width: 60vh;
}

.footer__form input {
    background-color: var(--color-primary);
    border: unset;
    padding: 0.9rem;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

.footer__form input::placeholder {
    color: #000;
}

.footer__form button {
    cursor: pointer;
    border: unset;
    height: 2.875rem;
    transition: 0.3 all ease;
}

.footer__form button:hover {
    color: var(--color-primary);
    background-color: #333;
}

.footer__social {
    justify-items: end;
}

.footer__social a,
.footer__social a:visited,
.footer__social a:active {
    color: #fff;
    margin-left: 0.7rem;
}

.footer hr {
    border-color: #fff4;
    margin: 0;
}

.footer p {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 2rem 0;
}