.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.0fr;
    grid-column-gap: 20px;  
    padding: 100px 100px;
    background-color: #000;
    width: 100%;
    height: 900px;  
}

.gallery__copy {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 0.5fr) 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    height: 750px;
}
    

.gallery__copy2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 2.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 15px;
    height: 630px;
}

.gallery__copy3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 15px;
    height: 780px;
}

.gallery__copy4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 15px;
    height: 665px;
}

