@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/fontawesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/brands.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/solid.min.css');

* {
    box-sizing: border-box;
}

:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #333;
    --default--padding: 1rem;
    --color-primary: #ffc500;
}

header,
main,
footer {
    overflow: hidden;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 124px 0px 0px 0px;
}

ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}


.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    color: #fff;
}

.navbar__container {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    height: 7.75rem;
    padding: 0 1rem;
    align-items: center;  
}

.navbar__links {
    justify-self: end;
}

.navbar__links li {
    font-size: 0.875rem;
    margin-right: 3rem;
    text-transform: uppercase;
}
.navbar__links a {
    font-weight: 300;
    color: #fff;
    text-decoration: none;
}


.navbar__links a:hover {
    color: var(--color-primary);
}

.logo--studion {
    font-size: 2.0rem;
    font-weight: 900;
    line-height: 1ch;
    text-transform: uppercase;
    text-align: right;
}

.logo--studion__subtitle {
    font-size: 0.875rem;
    font-weight: 300;
}

.copy--primary {
    color: var(--color-primary);
}

#slider {  
    padding: var(--default--padding);
    background-color: #000;
    color: #fff;
}

.slide {
    position: relative;
    height: calc(100vh - 7.75rem);
}

.slide__background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide__copy {
    position: absolute;
    top: 0;
    left: 95vh;
}

.slide__copy h6 {
    font-size: 0.9375rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1875rem;
}

.slide__copy h2 {
    font-size: 5.25rem;
    text-transform: uppercase;
    line-height: 5.25rem;
}

.slide__copy h2 span {
    display: block;
}

.btn {
    cursor: pointer;
    padding: 0.800rem 2.100rem;
    border: 0.125rem solid #fff;
    border-radius: 5rem;
    color: var(--color-primary);
    background: unset;
    font-size: .9375rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5 all ease;
}

.btn:hover, 
.btn:active, 
.btn:focus,
.btn--institutional {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: #fff;
}

#counter {
    background-color: var(--color-primary);
    color: #fff;
    text-transform: uppercase;
}

.counter__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding: 2.7rem 1rem;
}

.counter__container h3 {
    font-size: 2.0rem;
}

.counter__container h3 small {
    display: block;
    font-size: 1.25rem;
}

.institutional {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3.125rem;
    align-items: center;
    padding: 4.3rem;
} 

.institutional__image {
    max-width: 550px;
}

.institutional__copy {
    padding: 0 1.235rem;
}

.institutional__copy h6 {
    font-size: 0.875rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.institutional__copy h4 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.institutional__copy p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.0625rem;
    line-height: 1.8675rem;
    margin-bottom: 0;
    margin-bottom: 2.5rem;
}

.btn--institutional:hover {
    color: #333;
    border-color: #333;
    background: unset;
}

.quote {
    background-image: url(./images/parallax.jpg);
    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.quote__container {
    display: grid;
    align-items: center;
    justify-items: end;
    min-height: 80vh;
}

.quote__copy {
    background-color: #fff;
    padding: 2.8rem 3.375rem;
}

.quote__copy h6 {
    font-size: 0.9375rem;
    font-weight: 400;
    letter-spacing: 0.1875rem;
    line-height: 1.4375rem;
    width: 53ch;
    text-transform: uppercase;
    margin: 0;
}

.quote__copy h2 {
    font-size: 5rem;
    line-height: 5rem;
    text-transform: uppercase;
    letter-spacing: -0.1875rem;
    margin: 1.875rem 0;
}

.quote__copy h2 span {
    display: block;
}

.btn--quote {
    color: #333;
    border-color: #333;
    background: unset;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 0 1rem;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    padding: 3.0rem 0;
}

.footer .logo--studion {
    justify-items: start;
    margin: 0;
    text-align: center;
}

.logo--studion__subtitle {
    display: block;
}

.footer__form {
    display: grid;
    grid-template-columns: 13ch auto;
}

.footer__form label {
    font-size: 0.950rem;
    font-weight: 300;
    text-align: center;
}

.footer__form fieldset {
    display: grid;
    grid-template-columns: auto 3.0rem;
    border: unset;
    margin: 0;
    padding: 0;
    width: 60vh;
}

.footer__form input {
    background-color: var(--color-primary);
    border: unset;
    padding: 0.9rem;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

.footer__form input::placeholder {
    color: #000;
}

.footer__form button {
    cursor: pointer;
    border: unset;
    height: 2.875rem;
    transition: 0.3 all ease;
}

.footer__form button:hover {
    color: var(--color-primary);
    background-color: #333;
}

.footer__social {
    justify-items: end;
}

.footer__social a,
.footer__social a:visited,
.footer__social a:active {
    color: #fff;
    margin-left: 0.7rem;
}

.footer hr {
    border-color: #fff4;
    margin: 0;
}

.footer p {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 2rem 0;
}